* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.gridlayaout{
  display: grid;
  grid-template-areas: "header"
  "imagen"
  "tarjetaproduct"
  "infocosme"
  "footer";
}

.headergrid1{
  grid-area: header;
}

.nieve2{
  grid-area: imagen;
}

.card3{
  grid-area: tarjetaproduct;
}

.Cosme4{
  grid-area: infocosme;
}

.footergrid5{
  grid-area: footer;
}

.gridlayaoutcont{
  display: grid;
  grid-template-areas: "header"
  "form"
  "mapa"
  "footer";
}

.formulario{
  grid-area: form;
}

.ubi{
  grid-area: mapa;
}

.titulo{
  padding-bottom: 2rem;
}

.titulo h1 {
  font-size: 3rem;
  font-weight: 1;
  color: #3f3b3b;
 }

.gridlayaoutayu{
  display: grid;
  grid-template-areas: "header"
  "teclas"
  "footer";
 }

.acordeon{
  grid-area: teclas;
 }

.foot-icon a i {
  font-size: 20px;
  margin-left: 1rem;
  color: rgb(114, 100, 100)
}

.gridlayaoutofer{
  display: grid;
  grid-template-areas: "header"
  "ofertas"
  "footer";
}

.oferta{
  grid-area: ofertas;
}

@media (max-width:576px) {
    .palabra {
      color: blueviolet;
    font-size: 2rem;
  }
  }